.btn {
  width: 200px;
  height: 56px;
  line-height: 52px;
  border-radius: 55px;
  border: solid 1px #458ff6;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.btn-primary {
  background-color: #458ff6;
  color: #ffffff;
}

.btn-light {
  background-color: #ffffff;
  color: #458ff6;
}
