.btn {
  padding: 15px 40px;
  border-radius: 55px;
  border: solid 1px $primary;
  font-weight: 700;
}

.btn-primary {
  background-color: $primary;
  color: $light;
}

.btn-light {
  background-color: $light;
  color: $primary;
}

.btn-light:hover {
  background-color: $blue2;
  color: $light;
}
