.cards-services {
  width: 350px;
  height: 354px;
  background: $light;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  margin: 0 auto 37px;

  img {
    margin: 54px 220px 22px 37px;
  }
}
.spacing-card {
  margin-left: 60px;
  margin-right: 60px;
}

.card-content {
  padding: 50px 50px 22px 38px;
}

.m-card {
  margin-left: 38px;
  margin-right: 38px;
}
