.cards-services {
  min-height: 346px;
  padding: 54px 45px 46px 37px;
  background: $light;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  margin: 0 auto 37px;

  img {
    display: block;
  }

  @media (max-width: $xsMax) {
    img {
      scale: 75%;
    }
  }
}

@media (min-width: $xsMax) {
  .spacing-card {
    margin-left: 60px;
    margin-right: 60px;
  }
}

.mb-32 {
  margin-bottom: 32px;
}
