.carousel-div {
  padding: 64px 118px 79px;
  color: $light;
  border-radius: 24px;
  background: linear-gradient(
    208.18deg,
    $primaryLight 9.05%,
    $primaryDark 76.74%
  );

  .pt-31 {
    padding-top: 31px;
  }

  h2 {
    text-align: center;
  }

  .h3-carousel {
    font-size: 22px;
    font-weight: 700;
    line-height: 42px;
  }

  .h4-carousel {
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;
  }

  @media (max-width: $lgMin) {
    .h4-carousel {
      padding: 40px 0;
    }
  }

  .h5-carousel {
    font-size: 18px;
    font-weight: 400;
    line-height: 42px;
    color: $light;
  }
}

.circle-control {
  padding: 0 9px;
}

.controls-carousel {
  margin-top: 42px;

  @media (max-width: 575.98px) {
    .carousel-div {
      padding: 64px 10px 79px;
    }
  }
}

@media (max-width: $mdMin) {
  .carousel-div {
    padding: 64px 50px 79px;
  }
}

@media (max-width: $smMin) {
  .carousel-div {
    padding: 64px 10px 79px;
  }
}

.buttons-carousel {
  display: flex;
  justify-content: center;
  margin-top: 42px;
}

.control-carousel {
  color: $blue;
  border: none;
  background: none;
}

.dot-button-carousel {
  margin: 0 9px;
}

.control-carousel:hover {
  color: $blue2;
}

.control-carousel-left {
  margin-right: 83px;
}

.control-carousel-right {
  margin-left: 83px;
}

.dot-button-carousel {
  .fas {
    font-size: 10px;
  }
}

.control-carousel-left, .control-carousel-right {
  .fas {
    font-size: 18px;
  }
}

@media (max-width: $smMax) { 
  .control-carousel-left {
    margin-right: 20px;
  }
  
  .control-carousel-right {
    margin-left: 20px;
  }

  .dot-button-carousel {
    margin: 0 4px;
  }
 }

 @media (max-width: $mdMax) { 
  .mb-50 {
    margin-bottom: 50px;
  }
 }