.carousel {
  padding: 0;
  color: $light;
  
  .pt-31 {
    padding-top: 31px;
  }

  h2 {
    text-align: center;
  }

  .h3-carousel {
    font-size: 22px;
    font-weight: 700;
    line-height: 42px;
  }

  .h4-carousel {
    font-size: 19px;
    font-weight: 400;
    line-height: 30px;

    @media (max-width: $lgMin) {
      padding: 40px 0;
    }
  }

  .h5-carousel {
    font-size: 18px;
    font-weight: 400;
    line-height: 42px;
    color: $light;
  }

  .carousel-controls {
    display: flex;
    margin: 0 auto;
    margin-top: 42px;
    align-items: center;
    justify-content: space-around;

    .carousel-indicators {
      position: relative;
      margin: 0;

      & [data-bs-target] {
        width: unset;
        height: unset;
        text-indent: unset;
      }
    }

    .control-carousel {
      padding: 0;
      color: $blue;
      border: none;
      background: none;
      opacity: 0.4;
      transition: all ease-in-out .3s;
      
      &:hover, &.active {
        opacity: 1;
      }
    }
  
    .dot-button-carousel {
      margin: 0 9px;
      padding: 0;
    
      .fas {
        font-size: 10px;
      }
    }
  }
  
  .carousel-bg {
    padding: 64px 118px 79px;
    border-radius: 24px;
    background: url("images/bg05.png") no-repeat 104% -6%, linear-gradient(208.18deg, $primaryLight 9.05%, $primaryDark 76.74%);
  
    @media (max-width: $lgMax) {
      background: linear-gradient(208.18deg, $primaryLight 9.05%, $primaryDark 76.74%);
    }
  
    @media (max-width: $mdMin) {
      padding: 64px 50px 79px;
    }
    
    @media (max-width: $smMin) {
      padding: 64px 10px 79px;
    }
  }
}
