#articles {
  background: url("images/bg02.png") no-repeat 100% 0%;
  background-size: 700px;

  @media (max-width: $lgMax) {
    background-image: none;
  }

  .cards-services {
    margin: 0 5px;
    min-height: 279px;
    padding: 21px 51px 35px 33px;
    background: $light;
    border-radius: 0 0 20px 20px;
  }

  .img-cards-services {
    img {
      padding: 0 5px;
      border-radius: 20px 20px 0 0;
    }
  }
  h4 {
    font-weight: 700;
    color: $dark;
  }
  a {
    text-decoration: none;
    font-weight: 600;
  }

  i {
    padding: 0 8px;
  }
  h6 {
    padding: 12px 0 25px 0;
  }

  @media (max-width: $lgMin) {
    .mb-201 {
      margin-bottom: 110px;
    }
  }
}

.mt-69 {
  margin-top: 19px;
}

.mb-201 {
  margin-bottom: 201px;
}

.mb-50 {
  margin-bottom: 50px;
}
