#banner {
  img {
    width: 693px;
  }

  @media (max-width: $mdMax) {
    img {
      width: 75%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.m-banner {
  margin: 25px 0 45px 0;
}

.info-banner {
  margin: 106px 109px 0 0;
}

@media (max-width: $mdMax) {
  .info-banner {
    text-align: center;
    margin-right: 0;
  }
}

@media (min-width: $lgMin) and (max-width: $lgMax) {
  .info-banner {
    margin-top: 40px;
  }
}

@media (min-width: $mdMax) {
  .mb-192 {
    margin-bottom: 192px;
  }
}

@media (max-width: $lgMin) {
  .mb-192 {
    margin-bottom: 100px;
  }
}
