#banner {
  background-size: 81px;
  background: url("images/bg03.png") no-repeat 0% 0%;

  @media (max-width: $lgMax) {
    background-image: none;
  }
  img {
    width: 100%;
  }

  @media (max-width: $mdMax) {
    img {
      width: 75%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.m-banner {
  margin: 25px 0 45px 0;
}

.info-banner {
  margin: 106px 109px 0 0;
}

@media (max-width: $mdMax) {
  .info-banner {
    text-align: center;
    margin-right: 0;
    margin-top: 55px;
  }
}

@media (min-width: $lgMin) and (max-width: $lgMax) {
  .info-banner {
    margin-top: 40px;
  }
}

@media (min-width: $mdMax) {
  #banner {
    margin-bottom: 192px;
  }
}

@media (max-width: $lgMin) {
  #banner {
    margin-bottom: 60px;
  }
}
