#banner {
  img {
    width: 693px;
  }

  @media (max-width: $mdMax) {
    img {
      width: 75%;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
}

.m-banner {
  margin: 25px 0 45px 0;
}

.info-banner {
  width: 445px;
  height: 338px;
  margin-top: 115px;
}

.mb-192 {
  margin-bottom: 192px;
}
