#feedbacks {
  margin-bottom: 222px;

  background-image: url("images/bg03.png");
  background-repeat: no-repeat;
  background-size: 81px;
  background-position: 17% 75%;

  @media (max-width: $lgMax) {
    background-image: none;
  }

  @media (max-width: $lgMin) {
    img {
      display: block;
      margin: auto;
    }

    margin-bottom: 110px;
  }

  .title-line {
    margin-bottom: 77px;
  }
}
