#feedbacks {
  margin-bottom: 222px;
  @media (max-width: $lgMin) {
    img {
      display: block;
      margin: auto;
    }

    margin-bottom: 110px;
  }

  .title-line {
    margin-bottom: 77px;
  }
}
