#feedbacks {
  margin-bottom: 222px;

  background: url("images/bg04.png") no-repeat 19.5% 75%;
  background-size: 100px;

  @media (max-width: $lgMax) {
    background-image: none;
  }
  @media (max-width: $lgMin) {
    img {
      display: block;
      margin: auto;
    }
}

.title-line {
  margin-bottom: 77px;
  
}
}