#footer {
  background: linear-gradient(183.41deg, #67c3f3 -8.57%, #5a98f2 82.96%);

  h3 {
    line-height: 60px;
  }

  h3,
  h5,
  h6 {
    color: $light;
    margin: 0;
  }

  .footer-content-left {
    padding: 118px 145px 113px 0;

    h5 {
      padding: 22px 0 31px;
    }
  }

  .footer-content-right {
    padding: 118px 0 113px 0;

    a {
      text-decoration: none;
      color: $light;
      line-height: 38px;
      font-size: 18px;
    }
  }

  @media (max-width: $mdMax) {
    .footer-content-left,
    .footer-content-right {
      padding: 70px 0px 0px 0;
      text-align: center;
    }
    .pb-70 {
      padding-bottom: 70px;
    }
  }

  .icon-footer {
    border-radius: 50%;
    width: 41px;
    height: 41px;
    padding: 5px 6px 4px 13px;
    background: $light;
    border: 3px solid $light;
    color: $primary;
    text-align: center;
    font-size: 26px;
    line-height: 32px;
    margin-right: 12px;
  }
}

.bg-footer {
  background: url("images/bg05.png") no-repeat -1% 105%;
}