#header {
  padding: 55px 0;

  .icon-header {
    border-radius: 50%;
    width: 41px;
    height: 41px;
    padding: 5px 6px 4px 13px;
    background: $primary;
    border: 3px solid $primary;
    color: $light;
    text-align: center;
    font-size: 26px;
    line-height: 32px;
    margin-right: 12px;
  }

  @media (max-width: $xsMax) {
    .icon-header {
      margin-right: 5px;
    }
  }

  a {
    color: $dark2;
    text-decoration: none;
  }

  a:hover {
    color: $blue;
    text-decoration: none;
  }
  h3 {
    line-height: 0;
    margin: 0;
  }
}

.navbar-nav {
  li {
    margin: 0 12px;
  }
}
.navbar-collapse {
  flex-grow: 0;
}
.nav-buttons {
  opacity: 0.5;
  font-weight: 400;
}

@media (max-width: $mdMax) {
  .navbar-nav {
    margin-top: 20px;
  }
}
