#services {
  background-size: 900px;
  background: url("sections/bg01.png") no-repeat 0% 50%;

  @media (max-width: $lgMax) {
    background-image: none;
  }
  @media (min-width: $mdMax) {
    .mb-80 {
      margin-bottom: 80px;
    }
  }

  @media (max-width: $lgMin) {
    .mb-80 {
      margin-bottom: 20px;
    }
  }
}
