#services {
  background: url("images/bg01.png") no-repeat 0% 50%;
  background-size: 800px;

  .max-width-952 {
    max-width: 952px;
  }

  @media (max-width: $lgMax) {
    background-image: none;
  }

  @media (min-width: $mdMax) {
    .mb-80 {
      margin-bottom: 80px;
    }
  }

  @media (max-width: $lgMin) {
    .mb-80 {
      margin-bottom: 20px;
    }
  }

  .bg-services {
    background: url("images/bg04.png") no-repeat 100% 55%;
    background-size: 100px;

    @media (max-width: $lgMax) {
      background-image: none;
    }
  }
}
