// Cores
$black: #000000;
$black2: #1f1534;

$gray: #7d7987;

$white: #ffffff;
$white2: #e5e5e5;

$blue: #458ff6;
$blue2: #0b5ed7;
$blueLight: #67c3f3;
$blueDark: #5a98f2;

// Contextos
$primary: $blue;
$primary2: $blue2;
$primaryLight: $blueLight;
$primaryDark: $blueDark;

$light: $white;
$light2: $white2;

$dark: $black;
$dark2: $black2;

$info: $gray;

// Breakpoints
$xsMax: 575px;

$smMin: 576px;
$smMax: 767px;

$mdMin: 768px;
$mdMax: 991px;

$lgMin: 992px;
$lgMax: 1199px;

$xlMin: 1200px;
$xlMax: 1399px;

$xxlMin: 1400px;
