// Cores
$black: #000000;
$black2: #1F1534;

$gray: #7D7987;

$white: #ffffff;
$white2: #E5E5E5;

$blue: #458FF6;
$blueLight: #67C3F3;
$blueDark: #5A98F2
;

// Contextos
$primary: $blue;
$primaryLight: $blueLight;
$primaryDark: $blueDark;

$light: $white;
$light2: $white2;

$dark: $black;
$dark2: $black2;

$secondary: $gray;

// Breakpoints
$xsMax: 575px;

$smMin: 576px;
$smMax: 767px;

$mdMin: 768px;
$mdMax: 991px;

$lgMin: 992px;
$lgMax: 1199px;

$xlMin: 1200px;
$xlMax: 1399px;

$xxlMin: 1400px;
