body {
  font-family: "Mulish", sans-serif;
  background-color: #ffffff;
}

h1 {
  font-size: 48px;
  margin: 0;
}

h2 {
  font-size: 36px;
}

h1,
h2 {
  line-height: 56px;
  font-weight: 700;
}

h3 {
  font-size: 21px;
  line-height: 32px;
}

h4 {
  font-size: 18px;
  line-height: 30px;
}

h3,
h4 {
  color: #7d7987;
  font-weight: 300;
}

.margin-banner {
  margin: 25px 0 45px 0;
}

/* BUTTONS */

.btn {
  width: 200px;
  height: 56px;
  line-height: 52px;
  border-radius: 55px;
  border: solid 1px #458ff6;
  padding: 0;
  margin: 0;
  font-weight: 700;
}

.btn-primary {
  background-color: #458ff6;
  color: #ffffff;
}

.btn-light {
  background-color: #ffffff;
  color: #458ff6;
}

/* BUTTONS */

/* HEADER */

header {
  font-size: 18px;
  display: flex;
  align-items: center;
  padding: 55px 0;
}

#header-logo {
  width: 160px;
}

#header a {
  color: #1f1534;
}

#header a:hover {
  color: #458ff6;
}

.navbar-nav li {
  margin: 0 12px;
}

.navbar-collapse {
  flex-grow: 0;
}

.nav-buttons {
  opacity: 0.5;
  font-weight: 400;
}

/* HEADER */

/* BANNER */

#banner {
  margin-bottom: 192px;
}

#banner img {
  width: 693px;
}

.info-banner {
  width: 445px;
  height: 338px;
  margin-top: 115px;
}

/* BANNER */

.section-title {
  margin-bottom: 26px;
}

.retangle {
  width: 56px;
  height: 2px;
  border-radius: 5px;
  background: #000000;
}

.text-services {
  margin: auto;
  margin-top: 33px;
  margin-bottom: 80px;
}

/* CARD */

.cards-services {
  width: 350px;
  height: 354px;
  background: #ffffff;
  box-shadow: 10px 40px 50px rgba(229, 233, 246, 0.4);
  border-radius: 20px;
  margin: 0 auto 37px;
}
.spacing-card {
  margin-left: 60px;
  margin-right: 60px;
}

.card-content {
  padding: 50px 50px 50px 38px;
}
/* CARD */
